img{
    width:330px ;
}
#places{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}
.visits{
    border: 2px solid black;
    border-radius: 10px;
    background-color:beige;
    color:black;
    text-align: center;
}
.form-section{
    background-color: beige;
    padding: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
}
